/*       Variables       */

:root {
  --bg-black: #000000;
  --text-gray: #b0b0b0;
  --input-border: #d1d1d1;
  --font-main: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--white);
  /* line-height: 1.6; */
}

section {
  width: 100%;
  background-color: white;
}

body {
  background-color: white;
}

/*      Container        */

.container {
  width: 75%;
  margin: 0 auto;
  padding: 0 20px;
}


/*        Header         */

header {
  width: 100%;
  background-color: #010101;
  color: var(--white);
  padding: 100px 0;
  font-family: var(--first-font);
}

header .container .back {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin: 0 0 35px 0;
  transition: all 0.3s ease;
}

header .container .back a {
  color: var(--body-text-color);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

header .container .back i {
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid var(--white);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: all 0.3s ease;
}

header .container .back:hover i {
  color: var(--first-color);
  border: 1px solid var(--first-color);
  transform: translateX(-5px);
}

header .container .back:hover a {
  color: var(--first-color);
  text-decoration: underline;
}

header .container h1 {
  font-size: 48px;
  margin: 20px 0;
}

header .container p {
  margin: 20px 0 0 0;
  font-size: 15px;
  max-width: 650px;
  line-height: 1.6;
}


/*     Main Content      */

.main-content {
  width: 75% !important;
  margin: 0 auto;
  padding: 80px 20px;
  background-color: white;
}

.out {
  width: 100%;
  background-color: var(--white);
}

.flex-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}

.form-section {
  flex: 1;
}

.map-section {
  flex: 1;
}


/*     Form Heading      */

.form-section {
  h2 {
    padding-bottom: 30px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    background: var(--fourth-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

/*      Form Styles      */

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: var(--body-bg-color);
}

.input-group input,
.input-group textarea {
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 4px 0 16px;
  border-radius: 5px;
  transition: all 0.6s ease;
  border: 1.5px solid var(--first-color);
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: 0px 2.1px 5px #9ba1f7;
  outline: none;
  border: 1px solid transparent;
}

.captcha-text {
  font-size: 0.85rem;
  color: #666;
  margin: 12px 0 20px;
}

.captcha-text a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}


/*    Gradient Button    */

.submit-btn {
  background: linear-gradient(90deg, #0099ff 0%, #7a33cc 100%);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

.submit-btn:hover {
  opacity: 0.9;
}

/* start side cart style */

.sideCart {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #00000094;
  transition: all 0.5s ease-in-out 0s;
  overflow: hidden;
  z-index: 10;
  font-family: var(--second-font);

  .content {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: relative;

    .cart {
      position: absolute;
      top: 0;
      right: -50%;
      background: white;
      width: 410px;
      height: 100%;
      padding: 0px 30px;
      transition: all 0.6s ease-in-out 0s;

      .nav {
        width: 100%;
        padding: 20px 0 15px 0;
        border-bottom: 2px solid var(--first-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          color: black;
          font-weight: bold;
          font-size: 26px;
        }

        .close {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: var(--fourth-color);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.6s ease;

          i:hover {
            transform: rotate(-360deg);
          }
        }
      }

      .content-empty {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        gap: 23px;
        display: none;

        p {
          font-weight: bold;
        }

        a {
          width: 220px;
          font-size: 14px;
          font-weight: bold;
          padding: 15px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          border-radius: 0 30px 0 30px;
          position: relative;
          overflow: hidden;
          background: var(--fourth-color);
          transition: all 0.6s ease;
          color: white;

          i {
            transition: all 0.6s ease;
          }

          &::before {
            content: '';
            display: block;
            width: 0;
            height: 86%;
            position: absolute;
            top: 7%;
            left: 0;
            opacity: 0;
            background: var(--white);

            box-shadow: 0 0 15px 3px var(--white);

            transform: skewX(-20deg);
            transition: all 0.6s ease;
          }

          &:hover::before {
            animation: shine 0.5s linear 0s;
          }

          &:hover i {
            transform: translateX(-10px);
          }
        }
      }

      .full {
        width: 100%;
        height: 70vh;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        .item {
          position: relative;
          width: 100%;
          padding: 40px 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid var(--first-color);

          .image {
            width: 100px;
            height: 100px;
            border-radius: 0px 30px;
            border: 1px solid var(--first-color);
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .info {
            width: 60%;
            color: black;
          }

          .quantity {
            width: 100px;
            border: 1px solid #838383;
            border-radius: 5px;
            padding: 10px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
              color: #838383;
              font-weight: 500;
              font-size: 14px;
              background-color: transparent;
              width: 100%;
              outline: none;
              border: none;
              text-align: center;

              &[type='number']::-webkit-outer-spin-button,
              &[type='number']::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              cursor: pointer;
            }

            button {
              color: #838383;
              width: 30%;
              font-weight: 500;
              font-size: 14px;
              background-color: transparent;
              border: none;
              background-color: none;
              cursor: pointer;
            }
          }

          .info {
            h2 {
              margin-bottom: 20px;
            }
          }

          .remove {
            position: absolute;
            top: 10%;
            right: 0%;
            cursor: pointer;
            color: red;
          }
        }
      }

      .price {
        padding: 30px 20px;
        border-bottom: 1px solid #838383;
        border-top: 1px solid #838383;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
      }

      .btn {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 5px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        border: 1px solid transparent;
        background: var(--fourth-color);
        /* z-index: 1; */
        transition: all 0.6s ease;
        color: white;
        font-size: 18px;
        font-weight: 500;

        &:hover::before {
          animation: shine 0.5s linear 0s;
        }

        &::before {
          content: '';
          display: block;
          width: 0;
          height: 86%;
          position: absolute;
          top: 7%;
          left: 0;
          opacity: 0;
          background: var(--white);
          -webkit-box-shadow: 0 0 15px 3px var(--white);
          box-shadow: 0 0 15px 3px var(--white);
          -webkit-transform: skewX(-20deg);
          -ms-transform: skewX(-20deg);
          transform: skewX(-20deg);
          transition: all 0.6s ease;
        }
      }
    }
  }
}

/* end  side cart style */



/*     Map Styling       */
.map-container {
  width: 100%;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}