* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}
body {
  background-color: #010101;
  color: var(--body-text-color);
  position: relative;
  font-family: var(--first-font);
  
}
/* header  */
header {
    width: 100%;
    background-color: #010101;
    color: var(--white);
    padding: 100px 0;
    font-family: var(--first-font);

    .container {
        width: 75%;
        margin: auto;

        .back {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 0 0 35px 0;
            transition: all 0.3s ease;

            a {
                color: var(--body-text-color);
                text-decoration: none;
                font-size: 14px;
                transition: all 0.3s ease;
            }

            i {
                margin-right: 15px;
                border-radius: 50%;
                border: 1px solid var(--white);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                transition: all 0.3s ease;
            }

            &:hover i {
                color: var(--first-color);
                border: 1px solid var(--first-color);
                transform: translateX(-5px);
            }

            &:hover a {
                color: var(--first-color);
                text-decoration: underline;
            }
        }

        h1 {
            font-size: 48px;
            margin: 20px 0;
        }

        p {
            margin: 20px 0 0 0;
            font-size: 15px;
            max-width: 650px;
            line-height: 1.6;
        }
    }
}
/* end header */

/* main */
main {
    width: 100%;
    background-color: var(--body-text-color);
    padding: 100px 0px;
    color: var(--second-color);
    font-family: var(--second-font);

    .container {
        width: 75%;
        height: 100%;
        margin: auto;
        display: flex;

        /* filter section style */
        .filters {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--black);

            .header {
                padding: 20px 0px;
                border-bottom: 1px solid var(--black);

            }

            .border {
                width: 95%;
                padding: 20px 0px;
                border-bottom: 1px solid var(--black);

                .filter-type {
                    text-transform: uppercase;
                }

                .filter-type,
                .detail-head {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .detail-head {
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 20px;
                }

                .detail-body {
                    .checklist li:nth-child(1) {
                        margin-top: 20px;
                    }

                    li {
                        display: flex;
                        gap: 5px;
                        margin-top: 10px;
                        font-weight: 500;

                        .checkbox {
                            width: 20px;
                            height: 20px;
                            border: 1px solid var(--black);
                            border-radius: 5px;
                            overflow: hidden;
                            position: relative;

                        }

                        label {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }

                }
            }

            .priceFilter {
                .details {
                    .detail-head {
                        span {
                            font-size: 12px;
                        }
                    }
                }

                .detail-body {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    .num {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        input {
                            padding: 12px 60px 12px 15px;
                            border: 1px solid var(--black);
                            border-radius: 5px;
                        }

                        input[type="number"]::-webkit-outer-spin-button,
                        input[type="number"]::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                    }
                }
            }

            .colorFilter {
                .detail-body {
                    .colorlist {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        li {
                            width: 25px;
                            height: 25px;
                            border: 1px solid var(--black);
                            border-radius: 50%;
                        }

                        li:nth-child(1) {
                            background-color: black;
                        }

                        li:nth-child(2) {
                            background-color: blue;
                        }

                        li:nth-child(3) {
                            background-color: green;
                        }

                        li:nth-child(4) {
                            background-color: gray;
                        }

                        li:nth-child(5) {
                            background-color: red;
                        }

                        li:nth-child(6) {
                            background-color: white;
                        }
                    }
                }
            }

        }

        /* product section style */
        .products {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;

            /* products header */
            .header {
                border-bottom: 1px solid var(--black);
                padding: 18px 0 25.5px 25px;
                display: flex;
                /* gap: 10px; */
                align-items: center;

                p {
                    font-size: 20px;
                    color: gray;

                    span {
                        font-weight: bold;
                    }
                }

                /* .showstyle {
                    width: 40px;
                    height: 40px;
                    border: 1px solid gray;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    color: gray;
                }

                .showstyle:nth-child(1) {
                    background-color: var(--secondary-color);
                    color: var(--white);
                    transform: rotate(90deg);
                    border: 0px;
                } */
            }

            /* products cards */
            .productCards {
                width: 100%;
                height: 100%;
                padding: 20px 0px 20px 14px;
                /* display: flex;
                flex-wrap: wrap; */
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 16px;
                position: relative;

                /* card style */
                .card {
                    width: 100%;
                    height: auto;
                    padding: 15px;
                    margin: 0px 8px 25px 8px;
                    border-radius: 0 10px 0 10px;
                    border: 1px solid var(--secondary-color);
                    background: var(--third-color);
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    position: relative;
                    z-index: 0;
                    transition: all 0.3s ease;

                    /* card hover */
                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0px 2.1px 5px #9ba1f7;
                    }

                    /* card content style */
                    .card-content {
                        width: 100%;
                        height: 100%;

                        /* image div style */
                        .card-img {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 245px;
                            overflow: hidden;
                            position: relative;
                            margin-bottom: 15px;

                            /* hover on image div */
                            /* disappeared image appeared when hover */
                            &:hover .inner-img {
                                width: 100%;
                                height: 100%;
                            }

                            /* appeared image disappeared when hover */
                            &:hover .item-img {
                                width: 0%;
                                height: 0%;
                            }

                            /* icons move when hover */
                            &:hover .icons {
                                top: 100px;
                            }

                            /* image styling */
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                position: absolute;

                            }

                            /* disappeared image style before hover */
                            .inner-img {
                                width: 0px;
                                height: 0px;
                                transition: all 0.6s ease;
                            }

                            /* appeared image style before hover */
                            .item-img {
                                transition: all 0.6s 0.2s ease;
                            }


                            /* icons div style */
                            .icons {
                                display: flex;
                                gap: 12px;
                                padding: 10px 15px;
                                background: var(--pro-btn-color);
                                border-radius: 0 10px 0 10px;
                                max-width: max-content;
                                color: var(--white);
                                position: absolute;
                                top: 260px;
                                left: 80px;
                                transition: all 0.6s ease;

                                i {
                                    display: inline-block;
                                    transition: transform 0.6s ease;
                                    transform-style: preserve-3d;

                                    &:hover {
                                        transform: rotateY(180deg);
                                    }
                                }

                            }
                        }

                        /* product discription style */
                        p {
                            color: gray;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                            margin-bottom: 15px;
                        }

                        .info h2{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

                        .info,
                        .card-price {
                            margin-bottom: 15px;
                        }

                        /* add to cart button */
                        button {
                            width: 100%;
                            padding: 15px 20px;
                            background: var(--primary-color);
                            border-radius: 0 10px 0 10px;
                            border: 0px;
                            color: var(--white);
                            font-weight: 700;
                            position: relative;
                            overflow: hidden;
                            transition: all 0.6s ease;
                            cursor: pointer;

                            /* button before */
                            &::before {
                                content: '';
                                display: block;
                                width: 0;
                                height: 86%;
                                position: absolute;
                                top: 7%;
                                left: 0;
                                opacity: 0;
                                background: var(--white);
                                -webkit-box-shadow: 0 0 15px 3px var(--white);
                                box-shadow: 0 0 15px 3px var(--white);
                                -webkit-transform: skewX(-20deg);
                                -ms-transform: skewX(-20deg);
                                transform: skewX(-20deg);
                                transition: all 0.6s ease;
                            }

                            /* button hover */
                            &:hover::before {
                                animation: shine 0.5s linear 0s;
                            }
                        }
                    }

                }

            }
        }
    }
}
/* end main */
/* start product weiw */
.product-veiw {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #00000094;
  transition: all 0.5s ease-in-out 0s;
  overflow: hidden;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--first-font);
  .content {
    position: relative;
    max-width: 900px;
    width: 70%;
    margin: 0 auto;
    color: var(--black);
    /* background-color: var(--white); */
    /* z-index: 4; */
    transform: translateY(-50%) scale(0);
    overflow-x: hidden;
     overflow-y: auto;
    transition: all ease-in-out 0.5s;
    border-radius: 0 20px;
    padding: 30px 20px;
    background: var(--third-color);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img {
      width: 50%;
      height: 100%;
      border-radius: 0px 30px 0px 30px;
      border: 1px solid var(--first-color);
      background-color: white;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      width: 45%;
      height: 100%;
      display: flex;
      /* align-items: center; */
      justify-content: space-around;
      flex-direction: column;

      h2 {
        font-size: 25px;
        font-weight: bold;
      }
      p {
        font-size: 14px;
        font-weight: 400;
      }
      h4 {
        font-size: 20px;
      }
      .size {
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          text-align: center;
          width: 80px;
          border: 1.3px solid var(--fifth-color);
          padding: 8px;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }
      div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .quantity {
          width: 45%;
          border: 1px solid #838383;
          border-radius: 5px;
          padding: 10px 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          input {
            color: #838383;
            font-weight: 500;
            font-size: 14px;
            background-color: transparent;
            width: 100%;
            outline: none;
            border: none;
            text-align: center;
            &[type='number']::-webkit-outer-spin-button,
            &[type='number']::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            cursor: pointer;
          }
          button {
            color: #838383;
            width: 30%;
            font-weight: 500;
            font-size: 14px;
            background-color: transparent;
            border: none;
            background-color: none;
            cursor: pointer;
          }
        }
        #ADD {
          width: 45%;
          padding: 10px 5px;
          cursor: pointer;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          border: 1px solid transparent;
          background: var(--fourth-color);
          /* z-index: 1; */
          transition: all 0.6s ease;
          color: white;
          font-size: 14px;
          font-weight: 500;
          &:hover::before {
                    animation: shine 0.5s linear 0s;
                }
          &::before {
                content: '';
                display: block;
                width: 0;
                height: 86%;
                position: absolute;
                top: 7%;
                left: 0;
                opacity: 0;
                background: var(--white);
                -webkit-box-shadow: 0 0 15px 3px var(--white);
                box-shadow: 0 0 15px 3px var(--white);
                -webkit-transform: skewX(-20deg);
                -ms-transform: skewX(-20deg);
                transform: skewX(-20deg);
                transition: all 0.6s ease;
            }
        }
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0;
      width: 100%;
      height: 100%;
      color: var(--black);
      background-color: white;
      z-index: -1;
      /* transform: translateY(-50%) scale(0);
    opacity: 0;
    visibility: hidden; */
      overflow: hidden;
      transition: 0.5s ease-in-out;
      border-radius: 0px 20px;
    }
    .close {
      position: absolute;
      top: 10px;
      left: 95%;
      color: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: var(--fourth-color);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      i {
        transition: all 0.6s ease;
      }
      i:hover {
        transform: rotate(-180deg);
      }
    }
  }
}
/* end product veiw */

/* start side cart style */

.sideCart {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #00000094;
  transition: all 0.5s ease-in-out 0s;
  overflow: hidden;
  z-index: 10;
  font-family: var(--first-font);
  .content {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    .cart {
      position: absolute;
      top: 0;
      right: -50%;
      background: white;
      width: 410px;
      height: 100%;
      padding: 0px 30px;
      transition: all 0.6s ease-in-out 0s;
      .nav {
        width: 100%;
        padding: 20px 0 15px 0;
        border-bottom: 2px solid var(--first-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          color: black;
          font-weight: bold;
          font-size: 26px;
        }
        .close {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: var(--fourth-color);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.6s ease;
          i:hover {
            transform: rotate(-360deg);
          }
        }
      }
      .content-empty {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        gap: 23px;
        display: none;
        p {
          font-weight: bold;
        }
        a {
          width: 220px;
          font-size: 14px;
          font-weight: bold;
          padding: 15px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          border-radius: 0 30px 0 30px;
          position: relative;
          overflow: hidden;
          background: var(--fourth-color);
          transition: all 0.6s ease;
          color: white;
          i {
            transition: all 0.6s ease;
          }
          &::before {
            content: '';
            display: block;
            width: 0;
            height: 86%;
            position: absolute;
            top: 7%;
            left: 0;
            opacity: 0;
            background: var(--white);
            -webkit-box-shadow: 0 0 15px 3px var(--white);
            box-shadow: 0 0 15px 3px var(--white);
            -webkit-transform: skewX(-20deg);
            -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
            transition: all 0.6s ease;
          }
          &:hover::before {
            animation: shine 0.5s linear 0s;
          }
          &:hover i {
            transform: translateX(-10px);
          }
        }
      }
      .full{
        width:100%;
        height: 70vh;
         
      .item{
        position: relative;
        width:100%;
        padding: 40px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--first-color);
        .image{
            width:100px;
            height:100px;
            border-radius:0px 30px;
            border:1px solid var(--first-color);
            overflow: hidden;
            img{
              width:100%;
              height:100%;
            }
        }
        .info{
          width:60%;
          color:black;
          
        }
          .quantity {
          width: 100px;
          border: 1px solid #838383;
          border-radius: 5px;
          padding: 10px 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          input {
            color: #838383;
            font-weight: 500;
            font-size: 14px;
            background-color: transparent;
            width: 100%;
            outline: none;
            border: none;
            text-align: center;
            &[type='number']::-webkit-outer-spin-button,
            &[type='number']::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            cursor: pointer;
          }
          button {
            color: #838383;
            width: 30%;
            font-weight: 500;
            font-size: 14px;
            background-color: transparent;
            border: none;
            background-color: none;
            cursor: pointer;
          }
        }
        .info{
            h2{
              margin-bottom: 20px;
            }
        }
        .remove{
          position: absolute;
          top:10%;
          right:0%;
          cursor: pointer;
          color: red;
        }
      }
      }
      .price{
        padding:30px 20px;
        border-bottom: 1px solid #838383;
        border-top: 1px solid #838383;
        color:black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
      }
      .btn{
          width:100%;
          display: block;
          text-align: center;
          padding: 10px 5px;
          cursor: pointer;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          border: 1px solid transparent;
          background: var(--fourth-color);
          /* z-index: 1; */
          transition: all 0.6s ease;
          color: white;
          font-size: 18px;
          font-weight: 500;
                &:hover::before {
                    animation: shine 0.5s linear 0s;
                }
          &::before {
                content: '';
                display: block;
                width: 0;
                height: 86%;
                position: absolute;
                top: 7%;
                left: 0;
                opacity: 0;
                background: var(--white);
                -webkit-box-shadow: 0 0 15px 3px var(--white);
                box-shadow: 0 0 15px 3px var(--white);
                -webkit-transform: skewX(-20deg);
                -ms-transform: skewX(-20deg);
                transform: skewX(-20deg);
                transition: all 0.6s ease;
            }
        }
      }
    }
}

/* end  side cart style */

/* button animation */
@keyframes shine {
    0% {
        opacity: 0;
        left: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: 100%;
    }
}