*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
  font-family: Arial, sans-serif;
  background-color: var(--white);
}
header{
    background-color: var(--black);
    color: var(--white);
    padding: 120px 0px; 
}

.back a{
     color: var(--body-text-color);
  text-decoration: none;
  font-size: 14px;

}

header h1 {
  font-size: 48px;
  margin: 20px 0;
}

header p {
  font-size: 15px;
  max-width: 500px;
  line-height: 1.6;
}

main {
  background-color:var(--white);
  min-height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color:var(--white);
  padding: 50px 60px;
  width: 650px;
  border-radius: 8px;
  border: 2px solid var(--third-color);
}

.big-container h2 {
  text-align: center;
  padding-bottom: 50px ;
  font-size: 60px; 
  font-weight:600 ;
  margin-bottom: 20px;
  color: var(--black);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background: var(--pro-btn-color);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  opacity: 0.9;
}

.login-box p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: var(--third-color); 
}

.login-box p a {
  color: var(--blue);
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--third-color); 
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto; 
}